.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}